@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-times: "Times", "serif";
    --font-zh-name: "SimSun", "serif";
    --font-noto: "Noto Sans CJK SC", "serif";
}